@import "styles/text.module.scss";
@import "styles/color.module.scss";

.container{
    display: flex;
    padding: 12px;
    border: 1px solid rgba(128, 128, 128, 0.164);
    background-color: white;
    cursor: pointer;
    position: relative;
    
    &.clickedButton{
        border-bottom: 3px solid yellow;
    } 


}

.labelContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    
}

.label{
    font: $text;
    color: $info;
}

.icon{
    width: 16px;
    height: 16px;
    fill{
        path : $info;
    }
}

.dropDown{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    min-width: 100%;
    z-index: 100;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    min-height: 25px;
    align-items: center;
    z-index: 1;
    &.clicked{
        opacity: 1;
    }
}

.itemDropDown{
    display: flex;
    min-width: 300px;
    min-height: 50px;
    align-items: center;
    padding: 16px;
    background-color: white;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.164);
}