@import 'styles/color.module.scss'; 

.containerProfile{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    margin: 32px 0;
    &.removeBackground{
        background-color: transparent;
    }
}

.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    gap: 16px;
    background-color: white;
    &.removeShadow{
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    }
}

.tabContainer{
    display: flex;
    align-items: center;
}

.tab{
    padding: 14px;
    cursor: pointer;
    min-width: 120px;
    background-color: transparent;
    border: 0;
    &.active{
        border-bottom: 2px solid $active !important;
        color: $active;
    }
}


