/* page.module.scss */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; // Blanc
  color: #3498db; // Bleu
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.ctaButton {
  background-color: #3498db; // Bleu
  color: #ffffff; // Blanc
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.ctaButton:hover {
  background-color: #ffffff; // Blanc
  color: #3498db; // Bleu
}

/* Ajoutez des animations supplémentaires au besoin */
