.container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    border-radius: 16px;
    height: 100%;
    max-height: 250px;
    border: 2px solid #E5E5E5;
}

.topContainer{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-height: 75px;
    align-items: center;
    margin-bottom: 65px;
}

.banner{
    border-radius: 16px 16px 0 0;
    width: 100%;
    min-height: 100%;
}


.imageProfile{
    border-radius: 100%;
    width: 96px;
    height: 96px;
    position: absolute;
    transform: translateY(50%);
    bottom: 0;

}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.name{
    font-size: 14px;
    font-weight: 600;
}

.job{
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
}

.link{
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.icon{
    width: 16px;
    height: 16px;
    
}